.account {

  .balance {
    position: relative;
    margin-bottom: 10px;

    &__label {
      margin-bottom: 10px;
    }

    &__nominal {
      background-color: rgba(56, 194, 102, 1);
      padding: 20px 15px;

      label {
        color: #ffffff;
        font-size: 22px;
        font-weight: bold;
      }
    }
  }

  .topup {
    position: relative;

    &__form {
      display: flex;

      input[type="text"] {
        width: 400px;
        border-width: 0 0 1px 0;
        border-bottom-style: solid;
        border-bottom-color: #dadade;
        padding: 10px 15px;

        &:focus {
          outline: 0;
        }
      }

      button {
        margin-left: 20px;
        background-color: rgba(56, 194, 102, 1);
        box-shadow: none;
        border: 0;
        padding: 5px 30px;
        color: #ffffff;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;

        &:focus {
          outline: 0;
        }
      }
    }

    &__info {
      margin-top: 2px;

      i {
        font-size: 10px;
        color: red;
      }
    }
  }
}