<div class="account">
  <div class="balance">
    <div class="balance__label">
      <label>Your balance is</label>
    </div>

    <div class="balance__nominal">
      <label>Rp.</label>
      <label v-text="formatCurrency(balance)"></label>
    </div>
  </div>

  <div class="topup">
    <div class="topup__form">
      <input type="text" @input="handleInputChange" ref="inputBalance" placeholder="Insert your money" />

      <button @click="handleBalance">Topup</button>
    </div>

    <div class="topup__info">
      <i>*only accepted currency 2000, 5000, 10000, 20000, 50000</i>
    </div>
  </div>
</div>