.checkout {
  margin: 20px 0;
  
  &__title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #dadade;
    padding-bottom: 10px;
  }

  &__cart {
    padding: 10px;
    overflow: hidden;
    
    .empty-cart {
      text-align: center;

      i {
        font-size: 14px;
        display: block;
      }
    }

    .filled {
      .balance {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .ending-balance {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-style: italic;
        margin-bottom: 10px;
        border-bottom: 1px solid #dadade;
        padding-bottom: 10px;
      }

      .product {
        display: flex;
        justify-content: space-between;
      }

      .payment-btn {
        float: right;
        margin-top: 20px;
        
        button {
          margin-left: 20px;
          background-color: rgba(56, 194, 102, 1);
          box-shadow: none;
          border: 0;
          padding: 5px 30px;
          color: #ffffff;
          font-weight: 700;
          border-radius: 5px;
          cursor: pointer;

          &:focus {
            outline: 0;
          }
        }
      }
    }
  }
}