<div class="checkout">
  <div class="checkout__title">
    Checkout
  </div>

  <div class="checkout__cart">
    <template v-if="!filteredProduct.length">
      <div class="empty-cart">
        <i>empty cart</i>
      </div>
    </template>

    <template v-else>
      <div class="filled">
        <div class="balance">
          <div class="balance_label">
            My balance
          </div>

          <div class="balance_nominal">
            <label>Rp</label>
            <label v-text="formatCurrency(balance)"></label>
          </div>
        </div>

        <div class="ending-balance">
          <div class="balance_label">
            will be cut off
          </div>

          <div class="balance_nominal">
            <label>Rp</label>
            <label v-text="formatCurrency(cutOffBalance)"></label>
          </div>
        </div>

        <div class="product">
          <template v-for="item in filteredProduct">
            <div class="product__name" v-text="item.name"></div>
            <div class="product_qty">1</div>
            <div class="product_price" v-text="formatCurrency(item.price)"></div>
          </template>
        </div>

        <div class="payment-btn">
          <button @click="handlePay">Pay</button>
        </div>
      </div>
    </template>
  </div>
</div>