.product {
  margin-top: 20px;

  &__title {
    border-bottom: 1px solid #dadade;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    padding-bottom: 10px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}