<div class="product">
  <div class="product__title">
    Products
  </div>

  <div class="product__list">
    <template v-for="(item, key) in products">
      <ProductItem :product="item" :key="key" />
    </template>
  </div>
</div>