.product {
  &__item {
    height: 185px;
    overflow: hidden;
    border: 1px solid #dadade;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #dadade;
    cursor: pointer;

    .thumbnail {
      height: 100px;
      overflow: hidden;
      
      img {
        width: auto;
        height: auto;
        max-width: 197px;
        max-height: 197px;
      }
    }

    .desc {
      padding: 10px;

      &__title {
        margin: 0;
        font-size: 14px;
      }

      &__qty {
        font-style: italic;
        font-size: 12px;
        margin: 15px 0 0 0;
      }

      &__price {
        margin: 1px 0 0 0;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}