<div class="product__item" @click="handleClick(product.productId)">
  <div class="thumbnail">
    <img src="https://www.rockrecipes.com/wp-content/uploads/2017/07/Sweet-Biscuits-480x360.jpg" alt="biscout" />
  </div>

  <div class="desc">
    <p class="desc__title" v-text="product.name"></p>
    <p class="desc__qty">
      <span>Stok</span>
      <span v-text="product.qty">20</span>
    </p>
    <p class="desc__price">
      <span>Rp.</span>
      <span v-text="formatCurrency(product.price)"></span>
    </p>
  </div>
</div>